<form class="text-center border border-light p-5 my-3" #addTeacherForm="ngForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Add a teacher</p>

  <div [hidden]="addTeacherForm.submitted">
    <div class="form-row mb-4">
      <div class="col md-form">
        <input type="text" id="addTeacherFormFirstName" class="form-control" placeholder="First name*"
               required [(ngModel)]="teacher.firstName" name="firstName" #firstName="ngModel">

        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
          <div *ngIf="firstName.errors.required">
            First name is required.
          </div>
        </div>
      </div>

      <div class="col md-form">
        <input type="text" id="addTeacherFormLastName" class="form-control" placeholder="Last name*"
               required [(ngModel)]="teacher.lastName" name="lastName" #lastName="ngModel">

        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          <div *ngIf="lastName.errors.required">
            Last name is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col md-form">
        <input type="email" id="addTeacherFormEmail" class="form-control mb-4" placeholder="E-mail*"
               required [(ngModel)]="teacher.email" name="email" #email="ngModel">

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
        </div>
      </div>
    </div>

    <button mdbBtn color="info" block="true" class="my-4" type="submit"
            [disabled]="addTeacherForm.invalid">Add</button>
  </div>

  <div class="submitted-message" *ngIf="addTeacherForm.submitted">
    <ngb-alert [dismissible]="false" type="success">
      Teacher added successfully
    </ngb-alert>

    <button mdbBtn color="info" block="true" class="my-4" (click)="addTeacherForm.resetForm({})">
      Add another teacher
    </button>
  </div>

</form>
