<form class="text-center border border-light p-5 mt-3" #addAnnouncementForm="ngForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Add an announcement</p>

  <div [hidden]="addAnnouncementForm.submitted">
    <div class="mb-4">
      <div class="my-3 md-form">
        <input type="text" id="addAnnouncementTitle" class="form-control" placeholder="Title"
               required [(ngModel)]="announcement.title" name="title" #title="ngModel">

        <div *ngIf="title.invalid && (title.dirty || title.touched)" class="alert alert-danger">
          <div *ngIf="title.errors.required">
            Announcement title is required.
          </div>
        </div>
      </div>

      <div class="my-3 md-form">
      <textarea type="text" id="addAnnouncementText" class="md-textarea md-textarea-auto form-control" rows="1"
                mdbInput required [(ngModel)]="announcement.text" name="text" placeholder="Text"
                #text="ngModel"></textarea>

        <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger">
          <div *ngIf="text.errors.required">
            Announcement text is required.
          </div>
        </div>
      </div>
    </div>

    <button mdbBtn color="info" block="true" class="my-4" type="submit"
            [disabled]="addAnnouncementForm.invalid">Add announcement</button>
  </div>

  <div class="submitted-message" *ngIf="addAnnouncementForm.submitted">
    <ngb-alert [dismissible]="false" type="success">
      Announcement created successfully
    </ngb-alert>

    <button mdbBtn color="info" block="true" class="my-4" (click)="addAnnouncementForm.resetForm({})">
      Add another announcement
    </button>
  </div>

</form>
