<form class="text-center border border-light p-5 my-3" #studentRegisterForm="ngForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Register a student</p>

  <div [hidden]="studentRegisterForm.submitted">
    <div class="form-row mb-4">
      <div class="col md-form">
        <input type="text" id="studentRegisterFormFirstName" class="form-control" placeholder="First name*"
               required [(ngModel)]="student.firstName" name="firstName" #firstName="ngModel">

        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger">
          <div *ngIf="firstName.errors.required">
            First name is required.
          </div>
        </div>
      </div>

      <div class="col md-form">
        <input type="text" id="studentRegisterFormLastName" class="form-control" placeholder="Last name*"
               required [(ngModel)]="student.lastName" name="lastName" #lastName="ngModel">

        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger">
          <div *ngIf="lastName.errors.required">
            Last name is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col md-form">
        <input type="email" id="studentRegisterFormEmail" class="form-control mb-4" placeholder="E-mail*"
               required [(ngModel)]="student.email" name="email" #email="ngModel">

        <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert alert-danger">
          <div *ngIf="email.errors.required">
            Email is required.
          </div>
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="col md-form">
        <input type="text" id="studentRegisterFormCountryOfOrigin" class="form-control mb-4" placeholder="Country of origin"
               [(ngModel)]="student.countryOfOrigin" name="countryOfOrigin" #countryOfOrigin="ngModel">
      </div>

      <div class="col md-form">
        <input type="text" id="studentRegisterFormVisaNumber" class="form-control mb-4" placeholder="Visa no"
               [(ngModel)]="student.visaNumber" name="visaNumber" #visaNumber="ngModel">
      </div>

      <div class="col md-form">
        <input type="text" id="studentRegisterFormPassportNumber" class="form-control mb-4" placeholder="Passport number"
               [(ngModel)]="student.passportNumber" name="passportNumber" #passportNumber="ngModel">
      </div>
    </div>

    <button mdbBtn color="info" block="true" class="my-4" type="submit"
            [disabled]="studentRegisterForm.invalid">Register</button>
  </div>

  <div class="submitted-message" *ngIf="studentRegisterForm.submitted">
    <ngb-alert [dismissible]="false" type="success">
      Student registered successfully
    </ngb-alert>

    <button mdbBtn color="info" block="true" class="my-4" (click)="studentRegisterForm.resetForm({})">
      Register another student
    </button>
  </div>

</form>
