<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="#">I-College</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ng-container *ngIf="isAuthorized">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fab icon="wpforms"></mdb-icon> Forms<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/registration" routerLinkActive="active">Registration form</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/add-announcement" routerLinkActive="active">Add an announcement</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/add-group" routerLinkActive="active">Add a group</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/add-teacher" routerLinkActive="active">Add a teacher</a>
          </div>
        </li>
        <li class="nav-item dropdown" dropdown>
          <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
            <mdb-icon fas icon="list-ul"></mdb-icon> List<span class="caret"></span></a>
          <div *dropdownMenu class="dropdown-menu dropdown-menu-right dropdown dropdown-primary" role="menu">
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/all-students" routerLinkActive="active">List of students</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/all-groups" routerLinkActive="active">List of groups</a>
            <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/assign-students" routerLinkActive="active">Assign students to a group</a>
          </div>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect (click)="logout()" routerLinkActive="active">Logout</a>
        </li>
      </ul>
    </ng-container>

    <ng-container *ngIf="!isAuthorized">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link waves-light" mdbWavesEffect routerLink="/login" routerLinkActive="active">Login</a>
        </li>
      </ul>
    </ng-container>
    <!-- Links -->

  </links>
  <!-- Collapsible content -->

</mdb-navbar>
<!--/.Navbar-->
