<form class="text-center border border-light p-5 mt-3" #addGroupForm="ngForm" (ngSubmit)="onSubmit()">

  <p class="h4 mb-4">Add a group</p>

  <div [hidden]="addGroupForm.submitted">
    <div class="mb-4">
      <div class="my-3 md-form">
        <input type="text" id="addGroupTitle" class="form-control" placeholder="Group symbol"
               required [(ngModel)]="group.symbol" name="symbol" #symbol="ngModel">

        <div *ngIf="symbol.invalid && (symbol.dirty || symbol.touched)" class="alert alert-danger">
          <div *ngIf="symbol.errors.required">
            Group symbol is required.
          </div>
        </div>
      </div>

<!--      <div class="my-3 md-form">-->
<!--      <textarea type="text" id="addClassText" class="md-textarea md-textarea-auto form-control" rows="1"-->
<!--                mdbInput required [(ngModel)]="Class.text" name="text" placeholder="Text"-->
<!--                #text="ngModel"></textarea>-->

<!--        <div *ngIf="text.invalid && (text.dirty || text.touched)" class="alert alert-danger">-->
<!--          <div *ngIf="text.errors.required">-->
<!--            Class text is required.-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>

    <button mdbBtn color="info" block="true" class="my-4" type="submit"
            [disabled]="addGroupForm.invalid">Add group</button>
  </div>

  <div class="submitted-message" *ngIf="addGroupForm.submitted">
    <ngb-alert [dismissible]="false" type="success">
      Group created successfully
    </ngb-alert>

    <button mdbBtn color="info" block="true" class="my-4" (click)="addGroupForm.resetForm({})">
      Add another group
    </button>
  </div>

</form>
