<mdb-card class="m-3">
  <mdb-card-body>
    <mdb-card-title>
      <h5>{{announcement.title}}</h5>
    </mdb-card-title>
    <mdb-card-text>
      {{announcement.text}}
    </mdb-card-text>
  </mdb-card-body>
</mdb-card>
