<form class="text-center border border-light p-5 my-3" (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="row">
      <mat-form-field appearance="fill">
        <mat-label>Group:</mat-label>
        <mat-select [(ngModel)]="selectedGroup" [formControl]="groupControl" required>
          <mat-option name="groupToAssignTo" [value]="group" *ngFor="let group of groups">
            {{group.symbol}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <div mat-subheader>All students</div>
        <mat-selection-list #allStudents (selectionChange)="studentChosen(allStudents.selectedOptions.selected)">
          <mat-list-option [value]="student" *ngFor="let student of students">
            {{student.firstName}} {{student.lastName}}
          </mat-list-option>
        </mat-selection-list>
      </div>

      <div class="col-xs-6 col-md-6">
        <div mat-subheader>Students to be assigned</div>
        <mat-list>
          <mat-list-item *ngFor="let studentToBeAssigned of studentsToBeAssigned">
            {{studentToBeAssigned.firstName}} {{studentToBeAssigned.lastName}}
          </mat-list-item>
        </mat-list>
      </div>
    </div>

    <div class="row">
      <button mdbBtn color="info" block="true" class="my-4" type="submit">
        Register
      </button>
    </div>
  </div>
</form>
