<div class="container">
  <div class="row">
    <div class="col-sm">
      <mdb-card class="m-3">
        <mdb-card-body>
          <mdb-card-title>
            <h5>Greenwich English College</h5>
            <h6 class="text-muted mb-2">2/396 Pitt St, Sydney NSW 2000, Australia</h6>
          </mdb-card-title>
          <mdb-card-text>
            Study at Australia’s best English College and speak English like a local quicker than you ever imagined.
            Continue your studies at Greenwich Management College to advance your career while enjoying your new life in Australia.
            Your experience will be personalised to meet your goals and we will help you every step of the way.
          </mdb-card-text>
        </mdb-card-body>
      </mdb-card>
    </div>
    <div class="col-sm">
      <div class="m-3">
        <app-announcements-list></app-announcements-list>
      </div>
    </div>
  </div>
</div>
