table {
  width: 100%;
  border-collapse: unset !important;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  font-weight: lighter;
  margin: 8px 0;
  min-width: 146px;
  height: 146px;
  text-align: center;
}

.example-element-symbol {
  font-weight: bold;
  font-size: 40px;
  line-height: normal;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.center-image {
  border: 2px solid black;
  padding: 8px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
