<mat-form-field class="mt-3">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Ex. 2a">
</mat-form-field>

<table mat-table [dataSource]="groups" class="mat-elevation-z8" multiTemplateDataRows>

  <ng-container matColumnDef="Symbol">
    <th mat-header-cell *matHeaderCellDef>Symbol</th>
    <td mat-cell *matCellDef="let element">{{element.symbol}}</td>
  </ng-container>

  <ng-container matColumnDef="Teacher">
    <th mat-header-cell *matHeaderCellDef>Teacher</th>
    <td mat-cell *matCellDef="let element">
      <mat-select [(ngModel)]="element.teacher" [compareWith]="compareByTeacherId" (selectionChange)="assignTeacher(element)">
        <mat-option [value]="teacher" *ngFor="let teacher of teachers">
          {{teacher.firstName}} {{teacher.lastName}}
        </mat-option>
      </mat-select>
    </td>
  </ng-container>

  <ng-container matColumnDef="Students">
    <th mat-header-cell *matHeaderCellDef>Students</th>
    <td mat-cell *matCellDef="let element">
      <button mat-button class="ml-6" (click)="openDialog(element)">See students</button>
    </td>
  </ng-container>

  <!--  <ng-container matColumnDef="Last name">-->
  <!--    <th mat-header-cell *matHeaderCellDef>Last name</th>-->
  <!--    <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>-->
  <!--  </ng-container>-->

  <!--  <ng-container matColumnDef="Email">-->
  <!--    <th mat-header-cell *matHeaderCellDef>Email</th>-->
  <!--    <td mat-cell *matCellDef="let element"> {{element.email}} </td>-->
  <!--  </ng-container>-->

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <!--  <ng-container matColumnDef="expandedStudent">-->
  <!--    <td mat-cell *matCellDef="let element" [attr.colspan]="headerElements.length">-->
  <!--      <div class="example-element-detail center"-->
  <!--           [@detailExpand]="element == expandedStudent ? 'expanded' : 'collapsed'">-->

  <!--        <div>-->
  <!--          <div class="example-element-diagram">-->
  <!--            <img class="center-image" src="{{backendHost}}/students/{{element.id}}/photos/avatar"-->
  <!--                 width="128" height="128" avatarFallback>-->
  <!--          </div>-->

  <!--          <div>-->
  <!--            <form class="mb-2" [formGroup]="uploadForm" (ngSubmit)="onSubmit()">-->
  <!--              <input type="file" name="avatar" (change)="onFileSelect($event)"/>-->
  <!--              <button type="submit">Submit</button>-->
  <!--            </form>-->
  <!--          </div>-->
  <!--        </div>-->

  <!--        <div class="example-element-description">-->
  <!--          <span class="example-element-description-attribution">Country of origin </span>-->
  <!--          {{element.countryOfOrigin || '-'}}-->
  <!--          <br/>-->
  <!--          <span class="example-element-description-attribution">Visa number </span>-->
  <!--          {{element.visaNumber || '-'}}-->
  <!--          <br/>-->
  <!--          <span class="example-element-description-attribution">Passport number </span>-->
  <!--          {{element.passportNumber || '-'}}-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </td>-->
  <!--  </ng-container>-->

  <tr mat-header-row *matHeaderRowDef="headerElements"></tr>
  <tr mat-row *matRowDef="let element; columns: headerElements;"
      class="example-element-row">
  </tr>
  <!--  <tr mat-row *matRowDef="let row; columns: ['expandedStudent']" class="example-detail-row"></tr>-->

</table>
